@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
/*@import url("css/fontes.css?ver=1.2");*/

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

hr {
    border-bottom-color: rgba(144, 144, 144, 0.25);
}


@media screen and (max-width: 1280px) {

    body {
        padding-top: 4rem;
        background-attachment: scroll;
        background-size: auto;
        background-position: top;
    }

}

@media screen and (max-width: 736px) {

    #header > .logo {
        margin: 0 0 1.5rem 0;
    }

    #header > .logo a {
        font-size: 1.5rem;
    }

    #header > .logo a span{
        font-size: 0.75em;
    }

}

/* Main */

#main > .inner {
    margin: 0 auto;
    width: 75%;
    max-width: 1080px; /* 100% */
    margin-bottom: 2rem;
    background-color: #fff;
    /*background: rgba(255, 255, 255, 0.95);*/
    /*-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);*/
    /*-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);*/
    /*box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);*/
    border-radius: 4px;
    padding-bottom: 0px;
}

@media screen and (max-width: 980px) {

    #main .image {
        width: 100%;
        min-width: 100%;
        float: none;
        margin: 0 0 2rem 0;
    }

    #main .image img {
        width: 100%;
    }

    #main > .inner {
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
        margin-bottom: 2rem;
        background-color: #fff;
        border-radius: 0;
    }

    /*
    #footer{
         display: none;
    }
    */
}

.wrapper.style1 .content {
    padding: 2rem 4rem;
    font-family:"Affogato-Regular", sans-serif;
    font-size: 16px;
}
.content hr {
    border: 0;
    border-bottom: solid 1px;
    margin: 60px 0;
    border-bottom-color: rgba(144, 144, 144, 0.25);
}

@media screen and (max-width: 1280px) {

    .wrapper.style1 .content {
        padding: 2rem 4rem;
    }

}

@media screen and (max-width: 736px) {

    .wrapper.style1 .content {
        padding: 2rem;
    }

}

.content.no-bottom{
    padding-bottom: 0 !important;
}

.content.no-top{
    padding-top: 0 !important;
}

.separador {
    margin-top: 100px;
    display: block;
}

.separador .texto-separador {
    padding: 15px;
    border-radius: 4px;
    min-height: 60px;
    margin-top: -30px;
    margin-bottom: 60px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

/* Boas Vindas */
.boas-vindas{
    margin: 0 auto;
    margin-top: 50px;
    background-size: 100% 100%;
    min-height: 300px;
    max-width: 500px;
    width: 80%;
    padding: 50px 50px 10px 50px;
}

.caixa-texto-topo {
    position: relative;
    top: 30px; /*40px ao invés de 50px*/
    display: block;
    padding-left:10px;
    padding-right:10px;
    background-repeat: no-repeat;
    background-position: center center;
    width:auto;
    height:auto;
    margin-left:10%; /* 10% ao inves de 15% impede encolimento do fundo */
    margin-right:10%; /* 10% ao inves de 15% impede encolimento do fundo */
    margin-top: -100px;
    background-size: contain;
}

.caixa-texto-topo p{
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: "Musket" !important;
}

.caixa-texto-centro {
    display:block;
    padding-bottom: 10px;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position: initial;
    width:auto;
    height: auto;
    background-size: 100%;
}

.caixa-texto-centro p {
    /* font-weight: bold; */
    font-size: 18px;
    font-family: "Musket";
    text-align: justify;
}

.caixa-texto-centro p b, .box-info p b{
    color: inherit;
}

.caixa-texto-rodape {
    display:block;
    padding-left: 10px;
    padding-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right:50%;
    background-size: contain;
}
.caixa-texto-rodape p {
    padding-top: 15px;
    padding-bottom: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: "Musket" !important;
}

@media screen and (max-width: 585px) {
    .boas-vindas{
        background: none !important;
        width: 100%;
        padding: 10px;
        margin-top: 0px;
    }

    .caixa-texto-topo,
    .caixa-texto-rodape{
        background-image: none !important;
        border-radius: 8px;
        width: 100%;
        padding: 2px 1px;
        margin: 0;
        transform: rotate(-3deg);
        padding: 8px;
    }

    .caixa-texto-topo{
        margin: 0 auto;
        width: 70%;
    }

    .caixa-texto-rodape{
        background-image: none !important;
        border-radius: 8px;
        width: 50%;
        padding: 2px;
        margin-left: 10%;
        margin-top: -30px;
    }

    .caixa-texto-topo p,
    .caixa-texto-rodape p{
        padding: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        transform: rotate(3deg);
    }

    .caixa-texto-centro{
        padding: 50px 20px;
        background-size: cover;
        border-radius: 8px;
    }

    .caixa-texto-rodape p{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .caixa-texto-topo:before, .caixa-texto-rodape:before{
        content: "";
        position: absolute;
        border-radius: 8px;
        /*top: -10%; bottom: -11%; left: -1%; right: -2%; Erro de exibição em iphone*/
        z-index: -1;
        -webkit-transform: perspective(50em) rotateX(-30deg);
        transform: perspective(50em) rotateX(-30deg);
    }
}

/* Spotlight */

.spotlight {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.spotlight > * {
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
}

.spotlight > * {
    width: 50%;
}

.spotlight p:last-child {
    margin: 0;
}

.spotlight .inner {
    padding: 4rem;
}

.spotlight .image {
    margin: 0;
}

.spotlight .image img {
    width: 100%;
}

.spotlight.alt {
    background: #1e1f23;
    color: rgba(255, 255, 255, 0.25);
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    text-align: right;
}

.spotlight.alt > * {
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
}

.spotlight.alt h3 {
    color: #FFF;
}

.spotlight.alt .image {
    -moz-order: 2;
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
}

@media screen and (max-width: 1280px) {

    .spotlight .inner {
        padding: 4rem;
    }

}

@media screen and (max-width: 980px) {

    .spotlight {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        text-align: center;
    }

    .spotlight > * {
        -moz-flex-shrink: 1;
        -webkit-flex-shrink: 1;
        -ms-flex-shrink: 1;
        flex-shrink: 1;
        -moz-flex-grow: 0;
        -webkit-flex-grow: 0;
        -ms-flex-grow: 0;
        flex-grow: 0;
    }

    .spotlight > * {
        width: 100%;
    }

    .spotlight.alt {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        text-align: center;
    }

    .spotlight.alt > * {
        -moz-flex-shrink: 1;
        -webkit-flex-shrink: 1;
        -ms-flex-shrink: 1;
        flex-shrink: 1;
        -moz-flex-grow: 0;
        -webkit-flex-grow: 0;
        -ms-flex-grow: 0;
        flex-grow: 0;
    }

    .spotlight.alt .image {
        -moz-order: 0;
        -webkit-order: 0;
        -ms-order: 0;
        order: 0;
    }

}

@media screen and (max-width: 736px) {

    .spotlight .inner {
        padding: 2rem;
    }

}

/* Box */

.box {
    margin-bottom: 2rem;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 4px;
}

.box .image.fit {
    margin: 0;
    border-radius: 0;
}

.box .image.fit img {
    border-radius: 0;
}

.box header {
    margin: 0 0 2rem 0;
}

.box header h2 {
    margin-bottom: 1rem;
    position: relative;
    padding-bottom: 1rem;
    font-weight: 700;
}

.box header h2:after {
    content: '';
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.125);
}

.box header p {
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 300;
    margin: 1rem 0;
    padding: 0;
    letter-spacing: .25rem;
}

.box .content {
    padding: 3rem;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
    margin-bottom: 0;
}

.box.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
}

@media screen and (max-width: 736px) {

    .box .content {
        padding: 2rem;
    }

}

.box {
    border-color: rgba(144, 144, 144, 0.25);
}



/* Image */

.image {
    display: inline-block;
    position: relative;
}

.image.flush {
    margin: 0 !important;
}

.image img {
    display: block;
}

.image.left, .image.right {
    max-width: 50%;
}

.image.left img, .image.right img {
    width: 100%;
}

.image.left {
    float: left;
    margin: 0 1rem 1rem 0;
    top: 0.25rem;
}

.image.right {
    float: right;
    margin: 0 0 1rem 1rem;
    top: 0.25rem;
}

.image.fit {
    display: block;
    margin: 0 0 2rem 0;
    width: 100%;
}

.image.fit img {
    width: 100%;
}

.image.main {
    display: block;
    margin: 0 0 3rem 0;
    width: 100%;
}

.image.main img {
    width: 100%;
}

/* Legenda Image */
.legenda-img{
    padding: 0 4rem 0.5rem;
    text-align: center;
    margin-top: -10% !important;
    margin-bottom: 30px !important;
    font-size: 14px !important;
    line-height: 16px !important;
}

.legenda{
    padding: 0 4rem 0.5rem;
    text-align: center;
    margin-top: 5px !important;
    margin-bottom: 30px !important;
    font-size: 14px !important;
    line-height: 16px !important;
}

/* Tamanhos Image */
.image.largura-60{
    padding: 0 20%;
}

@media screen and (max-width: 736px) {

    .image.largura-60{
        padding: 0 10%;
    }

    .legenda,
    .legenda-img{
        padding: 0 2rem 0.5rem;
    }

}

@media screen and (max-width: 560px) {

    .image.largura-60{
        padding: 0;
    }

    .legenda,
    .legenda-img{
        padding: 0 2rem 0.5rem;
        font-size: 10px !important;
        line-height: 12px !important;
    }

}

a .bt-avanca {
    padding: 15px 32px;
}

.bt-avanca {
    /* position: relative; */
    border:none;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    letter-spacing:0.2em;
    display: block;
    font-size: 1rem;
    font-family: "Catamaran", sans-serif;
    margin: 40px auto;
    cursor: pointer;
    border-radius: 8px;
}

.bt-avanca a {
    padding: 15px 32px;
    display: inline-block;
}


